*{
    padding: 0%;
    margin: 0%;
}
.banner{
    color: white;
}
.banner{
    background:linear-gradient(
              rgba(0, 0, 0, 0.6),  
              rgba(0, 0, 0, 0.6)   
            ),url(img/hero-bg.jpg);
    background-color: black;
    height:700px;
    width: 1472.8px;
    background-repeat: no-repeat;
    background-size:cover;
}
.banner,nav,h1,ul,li{
    display: inline-block;
    color: white;
    padding-top: 15px;
}
#title{
    padding-left: 80px;
}
.banner ul, .banner li{
    padding-left: 100px;
}
.banner li{
    cursor: pointer;
}
.welcome{
    padding-top: 150px;
}
#shop{
    background-color: rgb(248, 42, 76);
    color: white;
    border-radius: 15%;
    height: 50px;
    width: 130px;
    font-size: 14px;
    margin-top: 70px;
    border: none;
    cursor: pointer;
}
.cards{
    background-color:rgb(249, 234, 238) ;
    height: 310px;
    width: 1472.8px;
}
.one{
    margin-left: 60px;
    margin-top: 60px;
    border-left: 2px solid  rgb(248, 42, 76) ;
    display: inline-block;
    padding-top: 0%;
    height:200px;
    padding-left:20px;
    border-top: none;
    border-right: none;
    border-bottom: none;
}
.banner1{
    height:700px;
    width: 1472.8px;
    background-color:white;
}
.img1{
    margin-top: 140px;
    margin-left: 140px;
}
.img2 img{
    border-radius:10px;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
}
.img1 img{
    border-radius:10px;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
}
.banner1,.img1,.img2,.info{
    display: inline-block;
}
.info h4{
    color: rgb(248, 42, 76);
    padding-bottom: 20px;
}
.info h1{
    color: black;
    font-size: 40px;
}
.info{
    margin-left:20px;
}
.info p{
    color: rgb(104, 99, 99);
}
.info button{
    margin-top: 40px;
    margin-bottom: 10px;
    height: 50px;
    width: 130px;
    border-radius: 10px;
    border: none;
    background-color:rgb(241, 79, 106) ;
    color: white;
    cursor: pointer;
}
.banner2{
    background-color:rgb(249, 234, 238);
    height:1500px;
    width:1472.8px;
}
.banner2 h3{
    color: rgb(248, 42, 76);
    padding-top: 100px;
}
.banner2 h1{
    color: black;
    font-size: 50px;
    padding-top: 30px;
}
.banner2 h4{
    font-weight: lighter;
    font-size:18px;
    padding-top: 30px;
   
}
.cards1{
    height:480px;
    width:1472.8px;
    margin-top: 60px;
}
.div1 img{
    height: 400px;
    width: 400px;
}
.div1 h5{
    color: gray;
    margin-top: 20px;
}
.div1 h6{
    display: inline-block;
    font-size: 20px;
    padding-top: 10px;
}
.cards1,.div1{
    display: inline-block;
}
.banner3{
    height:660px;
    width: 1472.8px;
    background-color:black;
}
.banner3 .img3 img{
    margin-top:62px;
    margin-left:150px;
    width: 500px;
    height:550px;
    border-radius:10px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.banner3,.img3,.offer{
    display: inline-block;
}
.offer h3{
    color: rgb(248, 42, 76);
    margin-bottom: 30px;
}
.offer h1{
    color: white;
    font-weight: bold;
    font-size: 45px;
}
.offer button{
    height: 50px;
    width: 130px;
    border-radius: 10px;
    border: none;
    background-color:rgb(241, 79, 106) ;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.offer{
    margin-left: 20px;
}
.banner4{
    height:580px;
    width: 1472.8px;
    background-color:white;
}
.banner4 h4{
    color: rgb(248, 42, 76);
    padding-top: 50px;
}
.banner4 h1{
    color: black;
    padding-top: 30px;
}
.banner4 h5{
    padding-top:20px;
    font-weight: lighter;
}
.review1{
    height: 300px;
    width: 350px;
    background-color:white;
}
.review1 img{
    height:60px;
    width: 60px;
}
.review1 h3{
    color: gray;
    font-size: 16px;
}
.profile,.name{
    display: inline-block;
}
.review1{
    display: inline-block;
    margin-top: 50px;
}
.banner5{
    height: 250px;
    width: 1472.8px;
    background-color: black;
}
.flowershop{
    margin-left: 150px;
}
.flowershop h2{
    color: white;
    padding-bottom: 45px;
}
.flowershop p{
    color: gray;
    font-size: 17px;
}
.links h2{
    color: white;
    padding-bottom: 30px;
}
.links h4{
    color: gray;
    display: block;
}
.links{
    margin-left: 100px;
    margin-top: 50px;
}
.flowershop,.links,.contact{
    display: inline-block;
}
.contact{
    margin-left: 300px;
    margin-top: 30px;
}
.contact h2{
    color: white;
    padding-bottom: 30px;
}
.contact p{
    color: gray;
}
.links h4:hover{
    cursor: pointer;
    color: rgb(248, 42, 76);
}
.footer{
    height:50px;
    width: 1300px;
    font-weight: lighter;
    padding-left:20px ;
    padding-top:5px;
}
.footer img{
    height: 20px;
    width: 20px;
}
.footer,h3,.social,img{
    display: inline-block;
}
.social{
    margin-left: 1200px;
}
